In [32]:
import pandas as pd

## Breast Cancer
source: https://archive.ics.uci.edu/dataset/15/breast+cancer+wisconsin+original

In [33]:
breast_df = pd.read_csv('./data/breast-cancer-wisconsin.data', header=None)
breast_df

          0   1   2   3   4   5   6   7   8   9   10
0    1000025   5   1   1   1   2   1   3   1   1   2
1    1002945   5   4   4   5   7  10   3   2   1   2
2    1015425   3   1   1   1   2   2   3   1   1   2
3    1016277   6   8   8   1   3   4   3   7   1   2
4    1017023   4   1   1   3   2   1   3   1   1   2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
694   776715   3   1   1   1   3   2   1   1   1   2
695   841769   2   1   1   1   2   1   1   1   1   2
696   888820   5  10  10   3   7   3   8  10   2   4
697   897471   4   8   6   4   3   4  10   6   1   4
698   897471   4   8   8   5   4   5  10   4   1   4

[699 rows x 11 columns]

In [34]:
breast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       699 non-null    int64
 1   1       699 non-null    int64
 2   2       699 non-null    int64
 3   3       699 non-null    int64
 4   4       699 non-null    int64
 5   5       699 non-null    int64
 6   6       699 non-null    object
 7   7       699 non-null    int64
 8   8       699 non-null    int64
 9   9       699 non-null    int64
 10  10      699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [35]:
breast_df = breast_df[breast_df[6] != '?'].astype({6: 'int32'})

In [36]:
breast_df.drop(columns=[0], inplace=True)
breast_df.replace({10: {2: 0, 4: 1}}, inplace=True)
breast_df.rename(columns={10: 'label'}, inplace=True)
breast_df

     1   2   3  4  5   6   7   8  9  label
0    5   1   1  1  2   1   3   1  1      0
1    5   4   4  5  7  10   3   2  1      0
2    3   1   1  1  2   2   3   1  1      0
3    6   8   8  1  3   4   3   7  1      0
4    4   1   1  3  2   1   3   1  1      0
..  ..  ..  .. .. ..  ..  ..  .. ..    ...
694  3   1   1  1  3   2   1   1  1      0
695  2   1   1  1  2   1   1   1  1      0
696  5  10  10  3  7   3   8  10  2      1
697  4   8   6  4  3   4  10   6  1      1
698  4   8   8  5  4   5  10   4  1      1

[683 rows x 10 columns]

In [50]:
breast_df.to_csv('./data/breast_cancer.csv', index=False)

## Occupancy detection dataset
source: https://archive.ics.uci.edu/dataset/357/occupancy+detection

In [65]:
occupancy_df = pd.read_csv('./data/occupancy_detection/datatraining.txt')
occupancy_df

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.250000,0.004793,1
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.000000,0.004783,1
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.500000,0.004779,1
4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.250000,0.004772,1
5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.500000,0.004757,1
...,...,...,...,...,...,...,...
8139,2015-02-10 09:29:00,21.05,36.0975,433.0,787.250000,0.005579,1
8140,2015-02-10 09:29:59,21.05,35.9950,433.0,789.500000,0.005563,1
8141,2015-02-10 09:30:59,21.10,36.0950,433.0,798.500000,0.005596,1
8142,2015-02-10 09:32:00,21.10,36.2600,433.0,820.333333,0.005621,1
8143,2015-02-10 09:33:00,21.10,36.2000,447.0,821.000000,0.005612,1

In [66]:
occupancy_df.drop(columns=['date'], inplace=True)
occupancy_df.rename(columns={'Occupancy': 'label'}, inplace=True)
occupancy_df.to_csv('./data/occupancy_detection.csv', index=False)

## Climate dataset
source: https://www.openml.org/search?type=data&sort=runs&status=active&qualities.NumberOfClasses=%3D_2&id=1467

In [43]:
climate_df = pd.read_csv('./data/climate.csv', header=None)
climate_df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1,1,502,0.927825,0.252866,0.298838,0.170521,0.735936,0.428325,0.567947,...,0.245675,0.104226,0.869091,0.997518,0.448620,0.307522,0.858310,0.796997,0.869893,1
1,1,2,249,0.457728,0.359448,0.306957,0.843331,0.934851,0.444572,0.828015,...,0.616870,0.975786,0.914344,0.845247,0.864152,0.346713,0.356573,0.438447,0.512256,2
2,1,3,202,0.373238,0.517399,0.504993,0.618903,0.605571,0.746225,0.195928,...,0.679355,0.803413,0.643995,0.718441,0.924775,0.315371,0.250642,0.285636,0.365858,2
3,1,4,56,0.104055,0.197533,0.421837,0.742056,0.490828,0.005525,0.392123,...,0.471463,0.597879,0.761659,0.362751,0.912819,0.977971,0.845921,0.699431,0.475987,2
4,1,5,278,0.513199,0.061812,0.635837,0.844798,0.441502,0.191926,0.487546,...,0.551543,0.743877,0.312349,0.650223,0.522261,0.043545,0.376660,0.280098,0.132283,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,3,176,266,0.489375,0.133713,0.411950,0.087780,0.356289,0.480204,0.029678,...,0.280546,0.384117,0.885948,0.768482,0.459479,0.334482,0.573002,0.610183,0.737706,2
536,3,177,456,0.842720,0.518947,0.090622,0.336981,0.893576,0.978703,0.674868,...,0.798108,0.353546,0.044796,0.990900,0.347027,0.512499,0.810549,0.593332,0.142565,1
537,3,178,509,0.941185,0.769245,0.950776,0.189406,0.112743,0.745645,0.527096,...,0.193103,0.829563,0.101506,0.548878,0.381966,0.198811,0.867108,0.461632,0.652817,2
538,3,179,421,0.779287,0.867468,0.704820,0.983282,0.420303,0.710612,0.174746,...,0.761134,0.436714,0.690132,0.825133,0.981656,0.113193,0.364799,0.201469,0.536535,2
539,3,180,18,0.031556,0.598264,0.794771,0.145680,0.378183,0.461948,0.425291,...,0.480938,0.307816,0.231638,0.464152,0.583558,0.969365,0.464331,0.760344,0.762439,2

In [55]:
climate_df.replace({20: {1: 0, 2: 1}}, inplace=True)
climate_df.rename(columns={20: 'label'}, inplace=True)
climate_df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,label
0,1,1,502,0.927825,0.252866,0.298838,0.170521,0.735936,0.428325,0.567947,...,0.245675,0.104226,0.869091,0.997518,0.448620,0.307522,0.858310,0.796997,0.869893,0
1,1,2,249,0.457728,0.359448,0.306957,0.843331,0.934851,0.444572,0.828015,...,0.616870,0.975786,0.914344,0.845247,0.864152,0.346713,0.356573,0.438447,0.512256,1
2,1,3,202,0.373238,0.517399,0.504993,0.618903,0.605571,0.746225,0.195928,...,0.679355,0.803413,0.643995,0.718441,0.924775,0.315371,0.250642,0.285636,0.365858,1
3,1,4,56,0.104055,0.197533,0.421837,0.742056,0.490828,0.005525,0.392123,...,0.471463,0.597879,0.761659,0.362751,0.912819,0.977971,0.845921,0.699431,0.475987,1
4,1,5,278,0.513199,0.061812,0.635837,0.844798,0.441502,0.191926,0.487546,...,0.551543,0.743877,0.312349,0.650223,0.522261,0.043545,0.376660,0.280098,0.132283,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,3,176,266,0.489375,0.133713,0.411950,0.087780,0.356289,0.480204,0.029678,...,0.280546,0.384117,0.885948,0.768482,0.459479,0.334482,0.573002,0.610183,0.737706,1
536,3,177,456,0.842720,0.518947,0.090622,0.336981,0.893576,0.978703,0.674868,...,0.798108,0.353546,0.044796,0.990900,0.347027,0.512499,0.810549,0.593332,0.142565,0
537,3,178,509,0.941185,0.769245,0.950776,0.189406,0.112743,0.745645,0.527096,...,0.193103,0.829563,0.101506,0.548878,0.381966,0.198811,0.867108,0.461632,0.652817,1
538,3,179,421,0.779287,0.867468,0.704820,0.983282,0.420303,0.710612,0.174746,...,0.761134,0.436714,0.690132,0.825133,0.981656,0.113193,0.364799,0.201469,0.536535,1
539,3,180,18,0.031556,0.598264,0.794771,0.145680,0.378183,0.461948,0.425291,...,0.480938,0.307816,0.231638,0.464152,0.583558,0.969365,0.464331,0.760344,0.762439,1

In [56]:
climate_df.to_csv('./data/climate.csv', index=False)